.home {
  .about-us, .second-section{
		// @include center;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		gap: 100px;
		margin-top:  100px;
		padding-top: 50px;
		padding-bottom: 50px;
    
		@media  screen and (max-width: 768px) {
			align-items: center;
			 flex-direction: column;
		}

		.image-box {
			img {
				width: 600px;
				height: 600px;
				object-fit: contain;
        
				@media screen and (max-width:768px){
					width: 350px;
					height: 350px;
				}
			}
		}

		.text-box {
			h6 {
				color: #2F3988;
				font-size: 1.5rem;
			}
			h3{
				font-size: 2.8rem;
			}
			p{
				font-size: .8rem;
				color: #555555;
				width: 70%;
			}

			.text-icon {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 30px;
          
        

				h5 {
					margin-top: 20px;
					font-weight: bold;
				}
			}
		}

		.card-box {
			display: flex;
			gap: 30px;
		}
	}

	.third-section {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		gap: 100px;
		margin-top:  100px;
		padding-top: 70px;
		padding-bottom: 200px;

		@media  screen and (max-width: 768px) {
			align-items: center;
			flex-direction: column;
	 }

		h6 {
			color: #2F3988;
			font-size: 1.5rem;
		}
		h3{
			font-size: 2.8rem;
		}
		.icon {
			margin-bottom: 3rem;
			margin-top: 3rem;
			gap: 10px;
		}

		.image-box {
			img {
				width: 600px;
				height: 600px;

				@media screen and (max-width:768px){
					width: 350px;
					height: 350px;
				}
			}
		}
	}

	.forth-section {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		h6 {
			color: #2F3988;
				font-size: 1.5rem;
		}

		.image-card {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 40px;
			margin-top: 2rem;
			margin-bottom: 2rem;
      
			.card {
				width: 300px;
			}

			@media  screen and (max-width: 768px) {
				flex-direction: column;
				gap: 30px;
			  margin-top: 1.7rem;
			  margin-bottom: 1.7rem;
		  }
		}
	}
}
.service-container{
    border:1px solid red;
    width: 70%;
    margin: auto;
}