.slider {
  min-height: fit-content;
  width: 99vw;
  margin: auto;
}
.slick-next {
  right: 0 !important;
  top: 33%;
  background-color: red 1px solid !important;
  z-index: 44;
}
.slick-prev {
  left: 0 !important;
  top: 33%;
  background-color: red 1px solid !important;
  z-index: 44;
}
.image-and-words {
  position: relative;
  .words {
    position: absolute;
    z-index: 555;
    top: 25%;
    left: 8%;
    color: white;
    width: 90%;
  }
  img {
    filter: brightness(50%);
  }
}
.Read {
  background-color: rgb(68, 68, 215);
  color: white;
  padding: 10px 15px;
  margin-right: 15px;
  font-size: 15px;
  border: none;
}
.Free {
  background-color: #51cfed;
  padding: 10px 15px;
  font-size: 15px;
  border: none;
  outline: none;
}
@media only screen and (min-width: 850px) {
  .words > * {
    font-size: 60px;
  }
  .Read {
    font-size: 20px;
    padding: 15px 35px;
  }
  .Free {
    font-size: 20px;
    padding: 15px 35px;
  }
  .words {
    position: absolute;
    top: 35% !important;
    left: 13% !important;
    width: 50% !important;
  }
}
.service-container{
    border:1px solid red;
    width: 70%;
    margin: auto;
}