.services-container {
  width: 75%;
  margin: auto;
  margin-top: 100px;
}

.service-item-con {
  width: 100%;
  min-height: 200px;
  margin-bottom: 20px;
  border: 4px solid #2e3889;
  padding: 10px;
  &:hover{
    background-color: #f8f8f8;
    cursor: pointer;
  }
  box-shadow: 2px 2px 3px #2e3889;
  border-radius: 10px;
  overflow: hidden;
}
.margininfo {
  margin-right: 30px;
  margin-bottom: 10px;
}
.power {
  position: relative;
}
.power::after {
  position: absolute;
  width: fit-content;
  height: fit-content;
  content: "3";
  top: -5px;
  right: -7px;
  font-size: 14px;
}
.con-info{
    display: flex;
    flex-wrap: wrap;
}
@media only screen and (max-width:700px) {
    .services-container {
        width: 90%;
      }
}
@media only screen and (max-width:400px) {
  .margininfo {
    margin-right: 6px;
    margin-bottom: 10px;
  }
}