.services-container {
  width: 75%;
  margin: auto;
  margin-top: 100px;
}

.service-item-con {
  width: 100%;
  min-height: 130px;
  margin-bottom: 20px;
  border: 1px solid #2e3889;
  &:hover{
    background-color: #f8f8f8;
    cursor: pointer;
  }
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 10px;
  overflow: hidden;
}
.margininfo {
  margin-right: 50px;
  margin-bottom: 10px;
}
.power {
  position: relative;
}
.power::after {
  position: absolute;
  width: fit-content;
  height: fit-content;
  content: "3";
  top: -8px;
  right: -7px;
  font-size: 14px;
}
