.sliderinfo {
  width: 90%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
   background-color: #fff;
  .person-info {
    display: flex;
    img{
        margin-right: 30px;
        margin-left: 20px;
    }
  }
}
.slick-prev{
  background-color: #c0c0c0 !important;
  border-radius: 20px;
  color: white !important;
  left: -18px !important;
  overflow: visible;
}
.slick-next{
  background-color: #c0c0c0 !important;
  border-radius: 20px;
  color: white !important;
  right: -22px !important;
  overflow: visible;
}
.slick-dots li button::before{
  color: #2e398a !important;
  border: 1px solid;
  border-radius:10px;
}